---
import Container from '@components/container.astro'
import Dropdown from './dropdown.astro'
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar'

const menuitems = [
  {
    title: '首页',
    path: '/',
    children: null,
  },
  {
    title: '活动讯息',
    path: '/events',
    children: null,
  },
  {
    title: '课堂介绍',
    path: '/courses',
    children: null,
  },

  // {
  //   title: '游学体验',
  //   path: '/experience',
  //   children: null,
  // },
  {
    title: '产品介绍',
    path: '/products',
    children: null,
  },
  // {
  //   title: '推荐新品',
  //   path: '/recommend',
  //   children: null,
  // },
  {
    title: '关于 B2C',
    path: '/about',
    children: null,
  },
]
---

<Container>
  <header class='flex flex-col items-center justify-between my-5 lg:flex-row'>
    <Astronav>
      <div class='flex items-center justify-between w-full lg:w-auto'>
        <a href='/' class='text-lg'
          ><span class='font-bold text-slate-800'>Bean2</span><span
            class='text-slate-500'>Cup</span
          >
        </a>
        <div class='block lg:hidden'>
          <MenuIcon class='w-4 h-4 text-gray-800' />
        </div>
      </div>
      <MenuItems class='hidden w-full mt-2 lg:w-auto lg:flex lg:mt-0'>
        <ul class='flex flex-col lg:flex-row lg:gap-3'>
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item?.title}
                    children={item?.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class='flex items-center py-2 text-gray-600 lg:px-3 hover:text-gray-900'>
                      <span> {item.title}</span>
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
