---
import Link from './ui/link.astro'

// const qrcode = new URL('/qrcode.jpeg', Astro.site).toString()
---

<div
  class='md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col md:flex-row items-center justify-center gap-8'>
  <div class='flex-shrink-0'>
    <img
      src={'/qrcode.jpeg'}
      alt='BEAN2CUP 微信公众号二维码'
      class='w-48 h-48 object-cover rounded-lg'
    />
  </div>
  <div
    class='flex flex-col items-center md:items-start text-center md:text-left'>
    <h2 class=' text-3xl md:text-4xl tracking-tight'>
      关注 BEAN2CUP
    </h2>
    <p class='text-slate-400 mt-2 text-lg md:text-xl max-w-md'>
      扫码关注微信公众号 "BEAN2CUP"，获取更多咖啡知识、新品资讯和活动信息。
    </p>
  </div>
</div>
