---
import { Picture } from 'astro:assets'
import footer from 'assets/footer.webp'
import Cta from '@components/cta.astro'
---


<footer class="my-20">
  <!-- <div class="flex justify-center mb-4">
    <Picture
      src={footer}
      alt="Footer Logo"
      widths={[260, 400, 520]}
      sizes="(max-width: 800px) 100vw, 520px"
      loading="eager"
      format="avif"
    />
  </div> -->
  <Cta />
  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} Bean2Cup. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <!-- <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p> -->
</footer>
