---
import { Picture } from 'astro:assets'
import heroImage from 'assets/312*312.png'
import Link from '@components/ui/link.astro'
import { Icon } from 'astro-icon/components'
---

<main
  class='grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24'>
  <div class='py-6 md:order-1 md:block w-md h-md'>
    <Picture
      src={heroImage}
      alt='B2C Logo'
      widths={[260, 400, 520]}
      sizes='(max-width: 800px) 100vw, 520px'
      loading='eager'
      format='avif'
    />
  </div>
  <div>
    <h1
      class='text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter'>
      Bean2Cup
    </h1>
    <p class='text-lg mt-3 text-slate-600 max-w-xl'>
      从种子到杯子,我们用心把控咖啡的每一个环节<br />
    </p>
    <div class='mt-3 flex flex-col sm:flex-row gap-3'>
      从种植、采摘、咖啡果处理、烘焙、杯测、储存、冲泡的每一个环节都用心把控，把好咖啡正面传递给消费者。 用心烘焙豆子，用心做好咖啡的理念，能让消费者在分享交流中越懂得好咖啡，越鼓励咖啡行业的发展。传播专业的精品咖啡概念。
    </div>
  </div>
</main>
